/* Tablet */
@media (max-width: 767px) {
   header .container {
        width: 100%;
        background: red;
   }

   header .container img {
        display: inline;
        margin-bottom: 70px;
   }

   nav {
        padding: 0 30px;
   }

   nav img {
        display: none;
   }

   nav ul {
        padding: 0;
   }

   nav ul a {
    font-size: 16px;
   }
}

/* Celular */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }
}