.title-purple {
    color: var(--color-purple);
}

.title-green {
    color: var(--color-green);
}

.secondary-button {
    background: var(--color-medium-grey);
    border: 1px solid var(--color-purple);
    color: var(--color-green);
    font-weight: bold;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: s;
}

.secondary-button img {
   margin-right: 15px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    height: calc(100vh - var(--menu-height));
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0px 100px;
}

header .container img {
    display: none;
}


header .container button {
    margin-top: 40px;
}



/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: var(--menu-height);
    padding: 0 100px;
    background-color: var(--color-dark);
    z-index: 99;
}

nav img {
    height: 60px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 24px;
    color: var(--color-green);
    text-decoration: none;
}

nav ul a svg {
    display: none;
}

/* Sobre mim */
.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 65px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
    margin-bottom: -20px!important;
}

.about-me .img-container img {
    object-fit: cover;
}

.about-me .img-container .line {
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--color-purple);
    position: absolute;
    top: -35px;
    left: calc(50% - 100%/2 - 25px);
}

.about-me .img-container .line.green {
    transform: rotate(-3.3deg);
    color: var(--color-green);
}

/* Serviços */
.services {
    text-align: center;
    margin: 150px 0;
    padding: 0 100px;
}

.services-container, .portfolio-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto 0;
}

.services .services-container .services-card {
    max-width: 360px;
    background-color: #2f3034;
    border: 1px solid var(--color-purple);
    border-radius: 16px;
    padding: 45px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.services .services-container .services-card img {
    margin-bottom: 40px;
}

.services-card + .services-card {
    margin-left: 10px;
}

/* Portfólio */
.portfolio {
    padding: 0 100px;
    margin-bottom: 100px;
    height: 800px;
    text-align: center;
}

.portfolio .portfolio-container {
    margin-top: 50px;
}

.portfolio .portfolio-container .portfolio-card {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
    /* box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(42px);
    /* border: 1px solid; */
    border-radius: 16px;
    max-width: 360px;
    text-align: left;
    padding: 50px 20px;
}

.portfolio .portfolio-container .portfolio-card .img-container {
    margin: 0px 25px 50px;
    position: relative;
}

.portfolio .portfolio-container .portfolio-card .img-container img {
    width: 100%;
    border-radius: 20px;
}

.portfolio-container .portfolio-card .img-container .line {
    width: calc(100% + 25px);
    height: calc(100% + 25px);
    border: 1px solid var(--color-green);
    border-radius: 16px;
    transform: rotate(-1.93deg);

    position: absolute;
    top: -15px;
    left: calc(50% - 100%/2 - 10px);
}

.portfolio .portfolio-container .portfolio-card .languange-container ul {
    display: flex;
    list-style: none;
    padding: 0;
   
    display: flex;
    flex-wrap: wrap;
}

.portfolio .portfolio-container .portfolio-card .languange-container ul li {
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 8px;
    padding: 3px 8px;
    margin-bottom: 10px;
}

.portfolio-card .languange-container ul li + li {
    margin-left: 10px;
}

.portfolio-card + .portfolio-card {
    margin-left: 10px;
}

/* Curriculum */

.curriculum {
    padding: 0 100px;
    text-align: center;
}

.curriculum .container {
    display: flex;
    margin: 50px auto;
    max-width: 1200px;
}

.curriculum .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}


.curriculum .container .content .curriculum-info {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 1rem;
    margin-bottom: 50px;
}

