/* Small desktop */
@media(max-width: 1000px) {
     header .container {
          width: 100%;
     }

     nav {
          padding: 0 30px;
     }


     nav ul a {
          font-size: 10px;
     }

     .about-me {
          flex-direction: column;
     }

     .about-me .container, .about-me .img-container {
          width: 100%;
     }

     .about-me .container {
          padding-right: 0;
     }

     .about-me .img-container {
          margin: 70px 0;
     }

     .services .services-container {
          flex-wrap: wrap;
     }

     .services-card + .services-card {
          margin-left: 0;
          margin-top: 20px;
     }

}


/* Tablet */
@media (max-width: 767px) {
   header .container {
        width: 100%;
   }

   header .container img {
        display: inline;
        margin-bottom: 70px;
   }

   nav {
        padding: 0 30px;
   }

   nav img {
        display: none;
   }

   nav ul {
        padding: 0;
   }

   nav ul a {
    font-size: 16px;
   }
}

/* Celular */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
     position: fixed;
     width: 100%;
     bottom: 0;
     top: unset     ;
     padding: 0 15px;
    }

    nav ul a {
     font-size: 12px;
    }

    nav ul a svg {
     display: block;
     margin: 0 auto 10px;
    }

    .about-me {
     padding: 40px;
    }
}